@model BlogIt.Models.ViewModel
@{
    ViewBag.Title = "EditArticle";
}


<div class="row clearfix">
    <div  class="col-md-4 column">
        <br/><br /><br /><br />
        <h4>Edit Article</h4>
        <form method="post" action="EditArticle" role="form">
            <div hidden="hidden"  class="form-group">
                <input hidden="hidden" type="text" class="form-control" name="ArticleId" value="@Model.Article.ArticleId" />
            </div>
            <div class="form-group">
                <label >Title</label><input type="text" class="form-control"  name="ArticleTitle" value="@Model.Article.ArticleTitle"/>
            </div>
            <div class="form-group">
                <label >Article Link</label><input type="text" class="form-control" name="ArticleLink" value="@Model.Article.ArticleLink" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

